<!-- <p>products works!</p> -->

<!-- <div>
    <p>{{singled.body}}</p>
    <p>{{singled.id}}</p>
    <p>{{singled.userId}}</p>
    <p>{{singled.title}}</p>
</div> -->


<div class="container">
    <div class="row border p-5 shadow bg-light">
        <div class="col-4">
            <div class="border p-2">
            <div class="bg-primary"> image</div>
        </div>
        </div>
        <div class="col-8">
            <div class="border p-2">
            <div class="text-primary h1 bg-dark">
                {{singled.id}}
            </div>
            <div class="text-primary h4">
                {{singled.title}}
            </div>
            <div class="text-dark mt-5">
                {{singled.body}}
            </div>
            <div class="text-dark mt-5">
                {{singled.userId}}
                <button type="button" class="btn btn-info" [routerLink]="['/dashboard/apidetail']">Back to page</button>
            </div>
        </div>
        </div>
    </div>
</div>
