<form [formGroup]="form" (ngSubmit)="loginsubmit()">
    <div class="container">
        <div class="row border p-4">
            <div class="col-6">
                <label>Username</label>
                <input
                    type="text"
                    formControlName="username"
                    class="form-control"
                    [ngClass]="{'is-invalid': submitted && f.username.errors }"
                />
                <div *ngIf="submitted && f.username.errors" class="errormsg">

                    <div *ngIf="f.username.errors.required">Username is required</div>

                    <div *ngIf="f.username.errors.minlength">
                      Username must be at least 6 characters
                    </div>
                    
                    <div *ngIf="f.username.errors.maxlength">
                      Username must not exceed 20 characters
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <label>First Name</label>
                <input
                    type="text"
                    formControlName="firstname"
                    class="form-control"
                    [ngClass]="{'is-invalid': submitted && f.firstname.errors }"
                />
                <div *ngIf="submitted && f.firstname.errors" class="errormsg">

                    <div *ngIf="f.firstname.errors.required">First Name is required</div>

                    <!-- <p>https://digitalfortress.tech/tips/top-15-commonly-used-regex/</p> -->
                  </div>
            </div>

            <div class="col-6">
                <label>Last Name</label>
                <input
                    type="text"
                    formControlName="lastname"
                    class="form-control"
                    [ngClass]="{'is-invalid': submitted && f.lastname.errors }"
                    pattern="[0-9]"
                />
                <div *ngIf="submitted && f.lastname.errors" class="errormsg">
                    <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
    
        </div>
    </div>

    <input type="button" value="submmit" (click)="getValues()">





