<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<i class="fa fa-home fa-3x"></i>
          {{title}}
          {{6+9}}
          {{c}}

          <h1 (click)="abc()"> click here</h1>
          <h1 onclick="abc()"> click here</h1>

<router-outlet></router-outlet>