<p>apidetail works!</p>
<!-- <ul>
    <li *ngFor="let a of posts">
        {{a.title}}

    </li>
</ul> -->
<div class="container">
  <div class="row">
    <div class="col-12">

    
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th> Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let a of posts">
      <tr>
        <th scope="row">{{a.id}}</th>
        <td>{{a.title}}</td>
        <td>{{a.body}}</td>
        <td>{{a.userId}}</td>
        <td> <button type="button" class="btn btn-sm btn-danger" [routerLink]="['/dashboard/apidetail',a.id]">submit {{a.id}}</button></td>
      </tr>
     
    </tbody>
  </table>
</div>
</div>
</div>