<div class="mybox">
<section>
    <div [routerLink]="['/uihome/sales-detail']"> 
        <h1 [align]="['center']"> sales count </h1>
        <h1 [align]="['center']"> 8000 </h1>
    </div>
    <div> col </div>
    <div> col </div>
    <div> col </div>
    <div> col </div>
</section>
<section>
    <div> col </div>
    <div> col </div>
    <div> col </div>
</section>
<section>
    <div> col </div>
    <div> col </div>
    <div> col </div>
    <div> col </div>
    <div> col </div>
    <div> col </div>
</section>
<section>
    <div> col </div>
    <div> col </div>
</section>



</div>